<div class="auth-form-container">
  <h1>Create Account</h1>
  <p>We just need a little bit of data from you to get you started 🚀</p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter your email"
      />
      @if(emailIsInvalid) {
      <p class="error-message">Please enter a valid email address</p>
      }
    </div>

    <div formGroupName="passwords">
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Create a password"
        />
        @if(passwordIsInvalid) {
        <p class="error-message">Password must be at least 6 characters</p>
        }
      </div>

      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input
          id="confirm-password"
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm your password"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="displayName">User Name</label>
      <input
        id="displayName"
        type="text"
        formControlName="displayName"
        placeholder="Enter your user name"
      />
    </div>

    <div class="form-actions">
      <button type="button" class="button button-flat" (click)="onReset()">
        Reset
      </button>
      <button
        type="submit"
        class="button button-primary"
        [disabled]="!form.valid"
      >
        Sign Up
      </button>
    </div>

    @if(form.dirty && form.touched && form.invalid) {
    <p class="error-message">Please check your input data</p>
    }
  </form>
</div>
