<div class="tasks-container">
  <div class="tasks-header">
    <h2>My tasks</h2>
    <button *ngIf="!showForm" (click)="onNewTask()" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      New task
    </button>
  </div>

  <div *ngIf="tasks$ | async as tasks">
    <p *ngIf="tasks.length === 0">
      No tasks for the moment. Create a new one !
    </p>
  </div>
  <app-task-list
    (editRequested)="onEditTask($event)"
    (deleteRequested)="onDeleteTask($event.id)"
  >
  </app-task-list>
</div>
