<form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="comment-form">
  <div class="form-group">
    <textarea
      formControlName="content"
      placeholder="Write your comment..."
      rows="3"
      [class.is-invalid]="
        commentForm.get('content')?.invalid &&
        commentForm.get('content')?.touched
      "
      appMentionDirective
    ></textarea>
    <div
      class="invalid-feedback"
      *ngIf="
        commentForm.get('content')?.invalid &&
        commentForm.get('content')?.touched
      "
    >
      <span *ngIf="commentForm.get('content')?.errors?.['required']"
        >The comment is required</span
      >
      <span *ngIf="commentForm.get('content')?.errors?.['minlength']"
        >The comment must be at least 3 characters</span
      >
      <span *ngIf="commentForm.get('content')?.errors?.['maxlength']"
        >The comment must not exceed 100 characters</span
      >
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="commentForm.invalid"
  >
    Add a comment
  </button>
</form>
